/* Navbar.css */

/* Modo Día (predeterminado) */
body {
  background-color: #ffffff;
  color: #333333;
}

.navbar {
  background-color: #add8e6 !important; /* Celeste suave, tono pastel */
  color: #333333;
}

.navbar .navbar-item,
.navbar .navbar-link {
  color: #333333; /* Color de texto predeterminado */
}

.navbar .navbar-item:hover,
.navbar .navbar-link:hover {
  background-color: #4B0082; /* Indigo para el hover en modo día */
  color: #ffffff; /* Color del texto en hover */
}

/* Modo Oscuro */
[data-theme="dark"] body {
  background-color: #333333;
  color: #f5f5f5;
}

[data-theme="dark"] .navbar {
  background-color: #1a1a1a !important;
  color: #a6cf58;
}

[data-theme="dark"] .navbar .navbar-item,
[data-theme="dark"] .navbar .navbar-link {
  color: #f5f5f5; /* Color de texto en modo oscuro */
}

[data-theme="dark"] .navbar .navbar-item:hover,
[data-theme="dark"] .navbar .navbar-link:hover {
  background-color: #4B0082; /* Indigo para el hover en modo oscuro */
  color: #ffffff; /* Color del texto en hover */
}

[data-theme="dark"] .navbar .button.is-light {
  background-color: #646cff;
  color: #ffffff;
}
