body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: #333;
}

main {
  padding: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.navbar {
  background-color: #1a1a1a;
  color: #a6cf58;
}

.navbar .navbar-item,
.navbar .navbar-link {
  color: #4c5201;
}

.navbar .navbar-item:hover,
.navbar .navbar-link:hover {
  background-color: #242424;
}

.navbar .navbar-burger {
  color: #c9db87;
}

.navbar .button.is-light {
  background-color: #646cff;
  color: #ffffff;
}